@use "../../scss//variables";

body{
    --phoneinput: var(--surface);
    --phoneinput-border-color: var(--border-primary);
    --phoneinput-border: 1px var(--phoneinput-border-color) solid;
}

.--phone-input{

    border: var(--phoneinput-border);
    --select-current-border-custom: 0px !important;
    .--input {
        border: 0px !important;

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        appearance: textfield;

    }

    @each $size in variables.$sizes {
        &.--#{$size} {
            border-radius: var(--radius-#{$size});
            --select-radius-custom: var(--radius-#{$size}) 0px 0px var(--radius-#{$size});
        }
    }

}