@use "../../scss/mixins.scss" as *;
@use "../../scss/variables";

body{

    --search-color: var(--surface);
    --search-send-color: var(--text-primary);
    --search-send-bg: transparent;
    --search-send-border: 0px;
    
    --search-send-size-xs: 18px;
    --search-send-size-sm: 24px;
    --search-send-size-md: 30px;
    --search-send-size-lg: 36px;
    --search-send-size-xl: 42px;
    --search-send-size-xxl: 48px;

    --search-border-color: var(--border-primary);
    --search-border: 1px var(--search-border-color) solid;

}

.--search{

    width: 100%;
    overflow: hidden;
    background: var(--search-color);
    border-radius: var(--search-radius);
    border: var(--search-border);

    &:focus-within {
        box-shadow: 0px 0px 0px 1px var(--input-border-focus);
    }

    .--input{
        background: transparent !important;
        color: var(--search-send-color);
        border: 0px !important;
        &:focus {
            box-shadow: none !important;
        }
    }

    .--send{
        color: var(--search-send-color) !important;
        // background: var(--search-send-bg) !important;
        svg{
            fill: var(--search-send-color) !important;
        }
    }

    .--search-action{
        --icon-color-1: var(--text-primary);
        --icon-color-2: rgb(from var(--icon-color-1) r g b / var(--icon-alpha, 0.5));
        color: var(--search-send-color);
        font-size: 1rem;
        line-height: 1;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }

    @each $size in variables.$sizes {

        &.--#{$size} {
            
            --search-radius: var(--search-radius-custom, var(--radius-#{$size}));

            .--send {
                flex-shrink: 0;
                width: calc(var(--search-send-size-#{$size}, var(--search-send-size-md)) + (var(--padding-#{$size}-x, var(--padding-md-x)) * 2));
                height: 100%;
                background: transparent;
                svg {
                    width: var(--search-send-size-#{$size}, var(--search-send-size-md));
                    height: var(--search-send-size-#{$size}, var(--search-send-size-md));
                    display: block;
                }
            }

            .--keyboard-keys{
                // right: calc(var(--search-send-size-#{$size}) * 3);
                right: var(--padding-#{$size}-x);
            }

        }
    }

}