:root{
    --bubble-me: var(--green-800);
    --bubble-you: var(--gray-800);
    --bubble-text-color: #fff;
    --bubble-me-text-color: var(--bubble-text-color);
    --bubble-you-text-color: var(--bubble-text-color);
    --bubble-padding: 4px 10px;
    --bubble-audio-padding: var(--bubble-padding);
    --bubble-image-padding: 4px;
    --bubble-radius: 10px;
    --bubble-text-size: 14px;
    --bubble-stamp-size: 11px;
    --bubble-arrow-size: 8px;
    --bubble-tick-size: 16px;
    --bubble-tick-color: rgba(255, 255, 255, 0.5);
    --bubble-tick-read-color: #77ff4a;
    --bubble-duration-text-size: var(--bubble-stamp-size);
    --bubble-max-size: 200px;
}

.--bubble-wrapper{

    &.--bw-me{
        align-items: flex-end;
        justify-content: flex-end;
    }
    &.--bw-you{
    }

    .--bubble{
        
        width: fit-content;
        border-radius: var(--bubble-radius);

        &:not(.--with-media){
            padding: var(--bubble-padding);
        }
        
        &.--bma-audio{
            padding: var(--bubble-audio-padding);
        }

        &.--bma-img{
            padding: var(--bubble-image-padding);
        }
        
        &.--bubble-me{
            background: var(--bubble-me);
            &.--b-arrow{
                &:before{
                    border-top-color: var(--bubble-me);
                    right: calc(var(--bubble-arrow-size) * -1);
                }
            }
            .--bubble-text{
                color: var(--bubble-me-text-color);
            }
        }
        
        &.--bubble-you{
            background: var(--bubble-you);
            &.--b-arrow{
                &:before{
                    border-top-color: var(--bubble-you);
                    left: calc(var(--bubble-arrow-size) * -1);
                }
            }
            .--bubble-text{
                color: var(--bubble-you-text-color);
            }
        }
        
        .--bubble-text{
            font-size: var(--bubble-text-size);
            color: var(--bubble-text-color);
        }

        .--bubble-stamp{
            font-size: var(--bubble-stamp-size);
        }

        /*Arrow*/
        &.--b-arrow{
            &:before{
                content: '';
                width: 0px;
                height: 0px;
                border-width: var(--bubble-arrow-size);
                border-color: transparent;
                border-style: solid;
                position: absolute;
                z-index: 1;
                top: 0px;
            }
        }

        .--bubble-stats{
            gap: 6px;
            .--bubble-status{
                width: calc(var(--bubble-tick-size));
                line-height: 0.65;
                svg{
                    fill: var(--bubble-tick-color);
                }
                &.--bs-3{
                    svg{
                        fill: var(--bubble-tick-read-color);
                    }
                }
            }
        }

        .--bubble-audio{
            gap: 10px;
            min-width: var(--bubble-max-size);
            .--bm-action{
                width: 36px;
                line-height: 0.6;
                svg{
                    fill: var(--bubble-text-color);
                }
            }
            .--bm-dur{
                font-size: var(--bubble-duration-text-size);
            }
        }

        .--bubble-image{
            max-width: var(--bubble-max-size);
            img{
                width: 100%;
                border-radius: var(--bubble-radius);
            }
        }

    }
}
