@use "../../scss/mixins.scss" as *;

:root{
    --password-toggle-radius: 5px;
    --password-toggle: transparent;
    --password-toggle-width: 40px;
    --password-toggle-border: 0px;
    --password-toggle-padding: 6px;
    --password-toggle-size: 20px;
    --password-toggle-color: #111;
}

.--password{ 

    overflow: hidden;
    width: 100%; 
    .--input{
        padding-right: 45px !important;
    }
    .--toggle{
        width: var(--password-toggle-width);
        background: var(--password-toggle);
        border: var(--password-toggle-border);
        padding: var(--password-toggle-padding);
        right: 2px;
        bottom: 2px;
        top: 2px;
        z-index: 1;
        border-radius: var(--password-toggle-radius);
        .b-label{ line-height: 0 !important; }
        svg{
            width: var(--password-toggle-size);
            height: var(--password-toggle-size);
            @include anim($duration: 0.2s);
            path {
                fill: var(--password-toggle-color);
            }
        }

        &:hover{
            svg{
                transform: scale(1.1);
            }
        }

    }
}