@use "../../scss/variables";

body{
    
    --kbd-bg: var(--slate-400);
    --kbd-color: #fff;
    --kbd-gap-xs: 1px;
    --kbd-gap-sm: 2px;
    --kbd-gap-md: 3px;
    --kbd-gap-lg: 4px;
    --kbd-gap-xl: 5px;
    --kbd-gap-xxl: 6px;

}
.--keyboard-keys{

    background: var(--kbd-bg);
    color: var(--kbd-color);

    @each $size in variables.$sizes {
        &.--#{$size} {
            gap: var(--kbd-gap-#{$size});
            border-radius: var(--radius-#{$size});
            padding: calc(var(--padding-#{$size}-x) / 2) var(--padding-#{$size}-x);
            font-size: var(--text-#{$size});
        }
    }

}