body{
    --drawer-color: var(--surface);
    --drawer-handle-color: var(--muted);
    --drawer-radius: 0px;
    --drawer-shadow: var(--zuz-shadow);
    --drawer-close-bg: var(--manatee-100);
    --drawer-close-color: var(--manatee-800);
    --drawer-close-bg-hover: var(--manatee-900);
    --drawer-close-color-hover: #fff;
    --drawer-border-color: var(--border-primary);
    --drawer-border: 1px var(--drawer-border-color) solid;
    --drawer-close-xy: 5px;
}

[color-scheme="dark"] {
    body {
        --drawer-close-bg: #555;
        --drawer-close-bg-hover: #444;
        --drawer-close-color: #b6b6b6;
        --drawer-close-color-hover: #fff;
    }
}

.drawer-h{
    min-width: 320px !important;
    max-width: 90vw;
    top: calc(0px + var(--m));
    bottom: calc(0px + var(--m));
    border-radius: var(--drawer-radius-h, var(--drawer-radius));
}
.drawer-v{
    min-height: 10vh;
    max-height: 90vh;
    left: calc(0px + var(--m));
    right: calc(0px + var(--m));
    border-radius: var(--drawer-radius-v, var(--drawer-radius));
}
.--drawer{
    background: var(--drawer-color);
    border: var(--drawer-border);
    box-shadow: var(--drawer-shadow);
    z-index: var(--max-z-index);
    overflow-x: hidden;
    overflow-y: auto;   
    will-change: transform, opacity;
    pointer-events: auto !important;
    &.--left{
        left: calc(0px + var(--m));    
        @extend .drawer-h;
    }
    &.--right{
        right: calc(0px + var(--m));        
        @extend .drawer-h;
    }
    &.--top{
        top: calc(0px + var(--m));        
        @extend .drawer-v;
    }
    &.--bottom{
        bottom: calc(0px + var(--m));        
        @extend .drawer-v;
    }
    .--handle{
        width: 100px;
        height: 6px;
        border-radius: 10px;
        background: var(--drawer-handle-color);
        margin: 12px auto 0px auto;
    }

    .--close-drawer{
        background: var(--drawer-close-bg) !important;
        border-radius: 50% !important;
        width: 25px;
        height: 25px;
        aspect-ratio: 1 / 1;
        top: var(--drawer-close-xy);
        z-index: 10001;
        padding: 3px;
        
        &.--close-left{
            left: var(--drawer-close-xy);
        }
        &.--close-right{
            right: var(--drawer-close-xy);
        }

        svg {
            fill: var(--drawer-close-color);
        }

        &:hover{
            background: var(--drawer-close-bg-hover) !important;
            svg {
                fill: var(--drawer-close-color-hover);
            }
        }
    }
}
