body{
    --avatar-bg: #fff;
    --avatar-text-size: 14px;
}

[color-scheme="dark"]{
    body{
        --avatar-bg: #fff1;
    }
}

.--avatar{
    
    overflow: hidden;
    min-width: var(--avatar-size);
    min-height: var(--avatar-size);
    max-width: var(--avatar-size);
    max-height: var(--avatar-size);
    &.--circle{
        border-radius: 50%;
        corner-shape: round !important;    
        img{
            border-radius: 50%;
        }
    }
    
    &.--square{
        corner-shape: squircle !important;    
        border-radius: calc(var(--avatar-size) * 2);
        img{
            border-radius: calc(var(--avatar-size) * 2);
        }
    }

    &.--xs{
        --avatar-size: 24px;
    }
    &.--sm{
        --avatar-size: 30px;
    }
    &.--md{
        --avatar-size: 48px;
    }
    &.--lg{
        --avatar-size: 72px;
    }
    &.--xl{
        --avatar-size: 96px;
    }

    .--avatar-label{
        color: var(--text-primary);
        font-size: var(--avatar-text-size);
        font-weight: 700;
    }
    
}