@use "../../scss/variables";
body{
    --badge-success: var(--green-500);
    --badge-error: var(--red-500);
    --badge-idle: var(--orange-500);
    --badge-dead: var(--text-primary);
    --badge-opacity: 0.5;
    
}

[color-scheme="dark"] {
    body{
        --badge-dead: var(--surface);
    }
}
.--badge{

    @each $size in variables.$sizes{
        &.--#{$size}{
            --badge-text-size: var(--text-#{$size});
            --badge-radius: var(--radius-#{$size});
            .--label{
                font-size: var(--text-#{$size});
                padding: var(--padding-#{$size});
            }
        }
    }

    &:has(.--label){
        border-radius: var(--badge-radius);
        &.--success{
            background: var(--badge-success);
        }
        &.--error{
            background: var(--badge-error);
        }
        &.--idle{
            background: var(--badge-idle);
        }
        &.--dead{
            background: var(--badge-dead);
        }
    }

    .--dot{
        
        --badge-corner: round;
        --badge-radius: 50%;
        corner-shape: var(--badge-corner) !important; 
        border-radius: var(--badge-radius);

        &.--success{
            background: var(--badge-success);
        }
        &.--error{
            background: var(--badge-error);
        }
        &.--idle{
            background: var(--badge-idle);
        }
        &.--dead{
            background: var(--badge-dead);
            opacity: var(--badge-opacity);
        }
    }

    .--label{
        color: #fff;
    }
}