body{
    --button: var(--primary, var(--red-700));
    --button-hover: var(--primary-hover, var(--red-800));
    --button-border: 0px;
    --button-color: white;
    --button-disabled: var(--gray-200);
    --button-disabled-color: var(--gray-400);

}
.--button{

    width: fit-content;

    &.--xs {
        padding: var(--padding-xs);
        font-size: var(--text-xs);
        border-radius: var(--radius-xs);
    }
    &.--sm {
        padding: var(--padding-sm);
        font-size: var(--text-sm);
        border-radius: var(--radius-sm);
    }
    &.--md {
        padding: var(--padding-md);
        font-size: var(--text-md);
        border-radius: var(--radius-md);
    }
    &.--lg {
        padding: var(--padding-lg);
        font-size: var(--text-lg);
        border-radius: var(--radius-lg);
    }
    &.--xl {
        padding: var(--padding-xl);
        font-size: var(--text-xl);
        border-radius: var(--radius-xl);
    }

    border: var(--button-border);
    background: var(--button);
    color: var(--button-color);
    white-space: pre;
    cursor: pointer;
    

    &:hover{
        background: var(--button-hover);
    }

    &:not(.--skeleton):disabled{
        background: var(--button-disabled);
        color: var(--button-disabled-color);
        cursor: auto !important;
    }

}