@use "../../scss//variables";

body{
    --button: var(--primary, var(--red-700));
    --button-hover: var(--primary-hover, var(--red-800));
    --button-border: 0px;
    --button-color: white;
    --button-disabled: var(--gray-200);
    --button-disabled-color: var(--gray-400);
    --button-gap-xs: 4px;
    --button-gap-sm: 6px;
    --button-gap-md: 8px;
    --button-gap-lg: 10px;
    --button-gap-xl: 10px;
    --button-ghost-hover: var(--surface);
}

[color-scheme="dark"]{
    body{
        --button-disabled: var(--gray-900);
        --button-disabled-color: var(--gray-800);
    }
}

.--button{

    --button-current-bg: var(--button);
    --button-current-hover: var(--button-hover);
    --button-current-border: var(--button-border);
    --button-current-color: var(--button-color);
    --button-current-disabled-bg: var(--button-disabled);
    --button-current-disabled-color: var(--button-disabled-color);
    --button-current-disabled-border: var(--button-border);

    --icon-color-1: var(--button-current-color);
    --icon-color-2: rgb(from var(--icon-color-1) r g b / var(--icon-alpha, 0.5));
    
    width: fit-content;

    @each $size in variables.$sizes{
        &.--#{$size}{
            padding: var(--padding-#{$size});
            font-size: var(--text-size-custom, var(--text-#{$size}));
            border-radius: var(--radius-#{$size});
            gap: var(--button-gap-#{$size});
        }
     }

    border: var(--button-current-border);
    background: var(--button-current-bg);
    color: var(--button-current-color);
    white-space: pre;
    cursor: pointer;

    &:hover{
        background: var(--button-current-hover);
    }

    &:not(.--skeleton):disabled{
        background: var(--button-current-disabled-bg);
        color: var(--button-current-disabled-color);
        border: var(--button-current-disabled-border);
        cursor: auto !important;
    }

    &.--solid{
        --button-current-bg: var(--button);
        --button-current-hover: var(--button-hover);
        --button-current-border: var(--button-border);
        --button-current-color: var(--button-color);
        --button-current-disabled-bg: var(--button-disabled);
        --button-current-disabled-color: var(--button-disabled-color);
        --button-current-disabled-border: var(--button-border);
    }

    &.--subtle{
        --button-current-bg: var(--surface-hover);
        --button-current-hover: var(--surface);
        --button-current-border: 1px solid var(--surface-hover);
        --button-current-color: var(--text-primary);
        --button-current-disabled-bg: var(--button-disabled);
        --button-current-disabled-color: var(--button-disabled-color);
        --button-current-disabled-border: 1px solid var(--button-disabled);
    }

    &.--surface{
        --button-current-bg: var(--surface);
        --button-current-hover: var(--surface-hover);
        --button-current-border: 1px solid var(--button-border-primary, var(--border-primary));
        --button-current-color: var(--text-primary);
        --button-current-disabled-bg: var(--button-disabled);
        --button-current-disabled-color: var(--button-disabled-color);
        --button-current-disabled-border: 1px solid var(--button-disabled);
    }

    &.--outline{
        --button-current-bg: transparent;
        --button-current-hover: var(--surface-hover);
        --button-current-border: 1px solid var(--button-border-primary, var(--border-primary));
        --button-current-color: var(--text-primary);
        --button-current-disabled-bg: transparent;
        --button-current-disabled-color: var(--button-disabled-color);
        --button-current-disabled-border: 1px solid var(--button-disabled-color);
    }

    &.--outline-reverse {
        --button-current-bg: var(--surface-hover);
        --button-current-hover: transparent;
        --button-current-border: 1px solid var(--button-border-primary, var(--border-primary));
        --button-current-color: var(--button);
        --button-current-disabled-bg: transparent;
        --button-current-disabled-color: var(--button-disabled-color);
        --button-current-disabled-border: 1px solid var(--button-disabled-color);
    }

    &.--plain{
        --button-current-bg: transparent;
        --button-current-hover: transparent;
        --button-current-border: 0px;
        --button-current-color: var(--text-primary);
        --button-current-disabled-bg: transparent;
        --button-current-disabled-color: var(--button-disabled-color);
        --button-current-disabled-border: 0px;

        padding: 0px !important;
    }

    &.--ghost{
        --button-current-bg: transparent;
        --button-current-hover: var(--button-ghost-hover);
        --button-current-border: 1px solid transparent;
        --button-current-color: var(--text-primary);
        --button-current-disabled-bg: transparent;
        --button-current-disabled-color: var(--button-disabled-color);
        --button-current-disabled-border: 1px solid transparent;
    }

}