@use "../../scss//variables";

body{
    --crumb-padding: 6px 2px;
    --crumb-item-gap: 5px;
    --crumb-item-color: var(--text-primary);
    --crumb-item-hover: var(--text-primary-hover);
    --crumb-item-hover-color: #fff;
    --crumb-item-radius: 6px;
    --crumb-item-padding: 2px 5px;
}
[color-scheme="dark"] {
    body{
        
    }
}
.--crumb{
    
    gap: var(--crumb-gap);
    
    li{
        padding: var(--crumb-padding) !important;
    }

    // @each $size in variables.$sizes{
    //     &.--size-#{$size}{
    //         .--crumb-item {
    //             font-size: var(--text-#{$size});
    //         }
    //     }
    // }

    .--crumb-item{
        background: transparent;
        color: var(--crumb-item-color);
        gap: var(--crumb-item-gap);
        padding: var(--crumb-item-padding);
        border-radius: var(--crumb-item-radius);

        .--crumb-icon{}
        .--crumb-label{}

        &:first-child:disabled{
            --button-disabled-color: var(--text-primary) !important;
        }

        &:not(:first-child):disabled{
            --button-disabled-color: var(--gray-500) !important;
        }

        &:hover{
            background: var(--crumb-item-hover);
            color: var(--crumb-item-hover-color);
        }
        &:disabled{
            background: transparent !important;
            pointer-events: none;
        }
    }
    .--crumb-chevron{
        width: 20px;
        line-height: 0;
        svg{
            fill: var(--text-primary);
        }
    }

    .--list-seperator{
        padding: 0px !important;
    }
}