:root{
    --fab-icon-color: #fff;
    --fab-position: 30px;
}
.--fab{
    z-index: var(--max-z-index);
    border-radius: 50% !important;
    svg {
        path {
            fill: var(--fab-icon-color);
        }
    }
    &.--sm{
        width: 40px;
        height: 40px;
        padding: 20px;
    }
    &.--md{
        width: 50px;
        height: 50px;
        padding: 15px;
    }
    &.--lg{
        width: 60px;
        height: 60px;
        padding: 20px;
    }

    &.--bottomright{
        bottom: var(--fab-position);
        right: var(--fab-position);
    }
    &.--bottomleft{
        bottom: var(--fab-position);
        left: var(--fab-position);
    }
    &.--topright{
        top: var(--fab-position);
        right: var(--fab-position);
    }
    &.--topleft{
        top: var(--fab-position);
        left: var(--fab-position);
    }
}