:root{
    --checkbox-check-color: #fff;
    --checkbox-check-size: 13px;
    --checkbox-size: 20px;
    --checkbox-radius: 6px;
    --checkbox-checked: rgb(46, 161, 42);
    --checkbox-unchecked: rgb(203, 203, 203);
    --checkbox-thumb: #fff;
    --checkbox-thumb-shadow: #000;
    --checkbox-thumb-shadow-size: 2px;
}
.--checkbox{
    height: var(--checkbox-size);
    width: var(--checkbox-size);
    cursor: pointer;
    border: 1px var(--checkbox-unchecked) solid;
    border-radius: var(--checkbox-radius);
    overflow: hidden;
    input[type=checkbox]{
        z-index: 0;
        opacity: 0;
    }
    &:before{
        font-size: var(--checkbox-check-size);
        color: var(--checkbox-check-color);
        opacity: 0;
    }
    &.is-checked {
        background-color: var(--checkbox-checked);
        border: 1px var(--checkbox-checked) solid;
        &:before{
            opacity: 1;
        }
    }
    svg{
        fill: var(--checkbox-check-color);
    }
}