@use "../../scss/variables";

body {
    --input: var(--gray-200);
    --input-border: 1px var(--border-primary) solid;
    --input-color: var(--text-primary);
}

input[type="date"]::-webkit-calendar-picker-indicator {
    color: var(--text-primary);
}

[color-scheme="dark"] {
    body{
        --input: var(--gray-800);
    }
}

.--input{

    @each $size in variables.$sizes {
        &.--#{$size}{
            padding: var(--padding-#{$size});
            font-size: var(--text-#{$size});
            &:not(.--textarea) {   
                border-radius: var(--radius-#{$size});
            }
            &.--textarea {   
                border-radius: var(--textarea-radius, calc(var(--radius-#{$size}) / 4));
            }
        }
    }

    background: var(--input);    
    border: var(--input-border);
    color: var(--input-color);
    width: 100%;

    &.--otp{
        letter-spacing: 1ch;
        font-feature-settings: 'tnum';
        font-variant: tabular-nums;
        font-family: monospace;
        line-height: 1;
        text-indent: 1.45ch;
        clip-path: inset(0 1ch 0 1ch);
        height: 2ch;
    }

}

