:root{
    --scrollbar-track-size: 8px;
    --scrollbar-track: rgba(0, 0, 0, 0);
    --scrollbar-track-hover: rgba(0, 0, 0, 0.1);
    --scrollbar-thumb: rgba(0, 0, 0, 0);
    --scrollbar-thumb-hover: rgba(0, 0, 0, 0.5);
    --scrollbar-thumb-active: rgba(0, 0, 0, 1);
    --scrollbar-content-padding: 0px 10px 20px 0px;
}
.--scrollview{

    width: 100%;
    height: 100%;
    overflow: hidden;
    
    .--scroll-content{
        width: 100%;
        height: 100%;
        overflow: hidden;
        padding: var(--scrollbar-content-padding);
        -webkit-overflow-scrolling: touch; 
        // scroll-behavior: smooth;         /* smooth scrolling on scrollTo() */
        scroll-snap-type: none;          /* optional, unless you want snapping */
        overscroll-behavior: contain;    /* already added — great! */
        // -webkit-overflow-scrolling: touch; /* enables momentum flick on iOS Safari */

    }
    
    &.--scrolling{
        .--scroll-track{
            background: var(--scrollbar-track-hover) !important;
            .--scroll-thumb{
                background: var(--scrollbar-thumb-hover) !important;
            }
        }
    }

    &.--no-y,
    &.--no-x{
        .--scroll-thumb{
            pointer-events: none;
        }
    }

    &:not(.--no-y){
        &:hover{
            .--track-y{
                .--scroll-thumb{
                    background: var(--scrollbar-thumb-hover);
                }
            }
        }
        .--track-y{
            &:hover{
                background: var(--scrollbar-track-hover);
            }
            .--scroll-thumb{
                cursor: pointer;
            }
        }
    }
    &:not(.--no-x){
        &:hover{
            .--track-x{
                .--scroll-thumb{
                    background: var(--scrollbar-thumb-hover);
                }
            }
        }
        .--track-x{
            &:hover{
                background: var(--scrollbar-track-hover);
            }
            .--scroll-thumb{
                cursor: pointer;
            }
        }
    }

    .--scroll-track{

        &.--track-y{
            right: 0;
            top: 0;
            width: var(--scrollbar-track-size);
            height: 100%;

            .--scroll-thumb{
                width: var(--scrollbar-track-size);
                top: 0;
            }

        }
        &.--track-x{
            right: 0;
            bottom: 0;
            height: var(--scrollbar-track-size);
            width: 100%;

            .--scroll-thumb{
                height: var(--scrollbar-track-size);
                bottom: 0;
            }

        }


        background: var(--scrollbar-track);
        border-radius: 5px;
        transition: background 0.2s;

        

        .--scroll-thumb{
            
            background: var(--scrollbar-thumb);
            border-radius: 4px;
            transition: background 0.2s;

            &:hover{
                opacity: 1;
            }
            
            &:active{
                cursor: grabbing;
                background: var(--scrollbar-thumb-active);
                opacity: 1;
            }

        }

    }
}