body{
    --cropper-border: 3px var(--border-primary) solid;
}
.--cropper{
    canvas{
        cursor: move;
        border: var(--cropper-border);
        margin-bottom: 10px;
        border-radius: var(--cropper-radius);
    }
    &.--circle{
        canvas{
            border-radius: 50%;
        }
    }
    .--cropper-slider{
        width: 250px;
        margin: 15px auto 0px auto;
    }
}