@use "../../scss/variables";
body{
    --select: var(--surface);
    --select-border-color: var(--border-primary);
    --select-border: 1px var(--select-border-color) solid;
    --select-z-index: 1;
    --select-gap: 5px;
    --select-arrow-width: 16px;
    --select-arrow-size: 16px;
    --select-arrow-color: var(--text-primary);
    --select-hover: var(--surface-hover);
    --select-options: var(--surface);
    --select-options-max-height: 400px;
    --select-options-top: 0.1rem;
    --select-options-padding: 4px;
    --select-option-color-disabled: var(--text-primary-disabled);    
    --select-option-color: var(--text-primary);    
    --select-option-hover: var((--background));
    --select-option-radius: var(--select-radius);
    --select-selected: var(--background);
    --select-shadow: inherit;    
    --select-search: #fff;
    --select-search-border: 1px #ddd solid;
    --select-search-padding: 4px 8px;
    --select-search-radius: 10px;
    --select-search-font-size: 15px;
    --select-search-color: var(--text-primary);
    --select-search-margin-bottom: 4px;

    
    --select-option-gap: 8px;
    --select-token-padding-xs: 1px 1px 1px 5px;
    --select-token-padding-sm: 1px 1px 1px 5px;
    --select-token-padding-md: 1px 1px 1px 5px;
    --select-token-padding-lg: 1px 1px 1px 5px;
    --select-token-padding-xl: 1px 1px 1px 5px;
    --select-token-padding-xxl: 1px 1px 1px 5px;

    --select-token-remove-size-xs: 14px;
    --select-token-remove-size-sm: 14px;
    --select-token-remove-size-md: 14px;
    --select-token-remove-size-lg: 14px;
    --select-token-remove-size-xl: 14px;
    --select-token-remove-size-xxl: 14px;

    --select-token-label-size-xs: 10px;
    --select-token-label-size-sm: 12px;
    --select-token-label-size-md: 13px;
    --select-token-label-size-lg: 14px;
    --select-token-label-size-xl: 15px;
    --select-token-label-size-xxl: 16px;

    --select-token: var(--select-token-custom, var(--background));
    --select-token-remove-hover: var(--select-token-remove-hover-custom, #bbb);
    --select-token-hover: var(--select-token-hover-custom, #bbb);

}

.--select{

    &:not(.--expanded){
        width: fit-content;
    }
    
    @each $size in variables.$sizes {
        &.--#{$size} {
            --select-radius: var(--select-radius-custom, --radius-#{$size});
            
            .--select-display.--selected {
                padding: var(--padding-#{$size});
                border-radius: var(--select-radius-custom, --radius-#{$size});
                font-size: var(--text-#{$size});
            }
            
            .--options-list{
                padding: var(--padding-#{$size}-x);
                border-radius: calc(var(--radius-#{$size})/2);
                button.--select-option-item {
                    padding: var(--padding-#{$size}) !important;
                    border-radius: var(--radius-#{$size}) !important;
                }
            }

            .--tokens-wrap{
                .--token{
                    padding: var(--select-token-padding-#{$size}) !important;
                    border-radius: var(--radius-#{$size}) !important;
                    .--token-label{
                        font-size: var(--select-token-label-size-#{$size});
                    }
                    .--token-remove{
                        width: var(--select-token-remove-size-#{$size});
                    }
                }
            }
        }
    }

    .--select-display.--selected{
        width: 100%;
        gap: var(--select-gap);
        background: var(--select);
        border: var(--select-border);
        box-shadow: var(--select-shadow);
        line-height: 1;
        justify-content: flex-start !important;
        
        .--svg-arrow{ 
            color: var(--select-arrow-color); 
            .--icon{
                font-size: var(--select-arrow-size);
            }
        }

        &:disabled{
            .--label{
                color: var(--select-option-color-disabled);
            }
            .--selected-icon{
                color: var(--select-option-color-disabled);
            }
            .--svg-arrow{
                svg {
                    fill: var(--text-primary-disabled);
                }
            }
            &:hover{
                background: var(--select);
            }
        }

        &:hover{
            background: var(--select-hover);
        }

        .--selected-icon{
            color: var(--select-option-color);
        }

        .--label-wrapper,
        .--label{
            flex: 1;
            text-align: left;
            color: var(--select-option-color);
        }
        .--svg-arrow{
            width: var(--select-arrow-width);
            svg{
                fill: var(--select-arrow-color);
            }
        }

        .--tokens-wrap{
            gap: 4px;
            .--token{
                background: var(--select-token);
                gap: 2px;
                overflow: hidden;
                &:hover{
                    background: var(--select-token-hover);
                }
                .--token-label{
                    
                }
                .--token-remove{
                    aspect-ratio: 1/1;
                    line-height: 0;
                    &:hover{
                        background: var(--select-token-remove-hover);
                    }
                }
            }
        }

    }

    .--options-list{

        backdrop-filter: blur(10px) saturate(0);
        left: 0;
        top: calc(100% + var(--select-options-top));
        width: 100%;
        max-height: var(--select-options-max-height);
        overflow-x: hidden;
        overflow-y: auto;
        touch-action: pan-y;
        gap: 2px;
        background: var(--select-options);
        // border-radius: var(--select-radius);
        // padding: var(--select-options-padding);
        box-shadow: var(--select-options-shadow);
        z-index: var(--max-z-index);
        scrollbar-color: var(--scrollbar-color);
        overscroll-behavior-y: contain;

        .--select-search{
            margin-bottom: var(--select-search-margin-bottom);
            background: var(--select-search);
            top: 0px;
            z-index: 3;
            .--search-input{
                background: inherit;
                border: var(--select-search-border);
                padding: var(--select-search-padding);
                border-radius: var(--select-search-radius);
                font-size: var(--select-search-font-size);
                color: var(--select-search-color);
            }
        }

        button.--select-option-item{
            background: transparent;
            border: 0px;
            text-align: left;
            color: var(--select-option-color);
            font-size: var(--select-text-size);
            white-space: pre;
            text-align: left !important;
            justify-content: flex-start;
            gap: var(--select-option-gap);
            width: 100%;
            overflow: hidden;

            &:disabled{
                color: var(--text-primary-disabled);
                &:hover{
                    background: transparent;
                }
            }
            &:hover{
                background: var(--select-option-hover);
            }
            &.--selected{
                background: var(--select-selected);
                .--select-option-check{
                    background: var(--select-selected);
                }
            }
            .--option-item-meta{
                gap: 8px;
            }
            .--select-option-check{
                top: 0px;
                right: 0px;
                bottom: 0px;
                z-index: 1;
                padding: 10px;
                aspect-ratio: 1/1;
                background: var(--select-options);
            }
        }

    }
}

.--select-options-list{

    backdrop-filter: blur(10px) saturate(0);
    left: 0;
    top: calc(100% + var(--select-options-top));
    width: 100%;
    max-height: var(--select-options-max-height);
    overflow-x: hidden;
    gap: 2px;
    background: var(--select-options);
    // border-radius: var(--select-radius);
    // padding: var(--select-options-padding);
    box-shadow: var(--select-options-shadow);
    z-index: var(--max-z-index);
    scrollbar-color: var(--scrollbar-color);

    .--select-search{
        margin-bottom: var(--select-search-margin-bottom);
        background: var(--select-search);
        top: 0px;
        .--search-input{
            background: inherit;
            border: var(--select-search-border);
            padding: var(--select-search-padding);
            border-radius: var(--select-search-radius);
            font-size: var(--select-search-font-size);
            color: var(--select-search-color);
        }
    }

    button.--select-option-item{
        background: transparent;
        border: 0px;
        text-align: left;
        color: var(--select-option-color);
        font-size: var(--select-text-size);
        white-space: pre;
        text-align: left !important;
        justify-content: flex-start;
        gap: var(--select-option-gap);
        width: 100%;
        &:hover{
            background: var(--select-option-hover);
        }
        &.selected{
            background: var(--select-selected);
        }
        &.--select-option-icon{
            
        }
    }

}