$colorPalette: (
    red: (
        50: '#fef2f2',
        100: '#fee2e2',
        125: '#fedcdc',
        150: '#fed6d6',
        175: '#fed0d0',
        200: '#fecaca',
        225: '#fec1c1',
        250: '#fdb8b8',
        275: '#fdaeae',
        300: '#fca5a5',
        325: '#fb9898',
        350: '#fa8b8b',
        375: '#f97e7e',
        400: '#f87171',
        425: '#f66666',
        450: '#f45b5b',
        475: '#f14f4f',
        500: '#ef4444',
        525: '#ea3d3d',
        550: '#e63535',
        575: '#e12e2e',
        600: '#dc2626',
        625: '#d32424',
        650: '#cb2121',
        675: '#c21f1f',
        700: '#b91c1c',
        725: '#b11c1c',
        750: '#a91c1c',
        775: '#a11b1b',
        800: '#991b1b',
        825: '#931c1c',
        850: '#8c1c1c',
        875: '#861d1d',
        900: '#7f1d1d',
    ),
    green: (
        50: '#e8f5e9',
        100: '#c8e6c9',
        125: '#bfe2c1',
        150: '#b7deb8',
        175: '#aedab0',
        200: '#a5d6a7',
        225: '#9cd29e',
        250: '#93cf96',
        275: '#8acb8d',
        300: '#81c784',
        325: '#7ac47e',
        350: '#74c177',
        375: '#6dbe71',
        400: '#66bb6a',
        425: '#60b864',
        450: '#59b55d',
        475: '#53b257',
        500: '#4caf50',
        525: '#4aab4e',
        550: '#48a84c',
        575: '#45a449',
        600: '#43a047',
        625: '#409c44',
        650: '#3e9742',
        675: '#3b933f',
        700: '#388e3c',
        725: '#368a3a',
        750: '#338637',
        775: '#318135',
        800: '#2e7d32',
        825: '#29752e',
        850: '#256e29',
        875: '#206625',
        900: '#1b5e20',
    ),
    blue: (
        50: '#e3f2fd',
        100: '#bbdefb',
        125: '#b0d9fb',
        150: '#a6d4fa',
        175: '#9bcffa',
        200: '#90caf9',
        225: '#85c5f8',
        250: '#7ac0f8',
        275: '#6fbaf7',
        300: '#64b5f6',
        325: '#5cb1f6',
        350: '#53adf6',
        375: '#4ba9f5',
        400: '#42a5f5',
        425: '#3aa1f5',
        450: '#329ef4',
        475: '#299af4',
        500: '#2196f3',
        525: '#2093f0',
        550: '#208fec',
        575: '#1f8ce9',
        600: '#1e88e5',
        625: '#1d84e0',
        650: '#1c7fdc',
        675: '#1a7bd7',
        700: '#1976d2',
        725: '#1872ce',
        750: '#176ec9',
        775: '#1669c5',
        800: '#1565c0',
        825: '#135eb8',
        850: '#1156b1',
        875: '#0f4fa9',
        900: '#0d47a1',
    ),
    yellow: (
        50: '#fffde7',
        100: '#fff9c4',
        125: '#fff8ba',
        150: '#fff7b1',
        175: '#fff6a7',
        200: '#fff59d',
        225: '#fff493',
        250: '#fff38a',
        275: '#fff280',
        300: '#fff176',
        325: '#fff06f',
        350: '#fff067',
        375: '#ffef60',
        400: '#ffee58',
        425: '#ffed51',
        450: '#ffed4a',
        475: '#ffec42',
        500: '#ffeb3b',
        525: '#ffe63a',
        550: '#fee238',
        575: '#fedd37',
        600: '#fdd835',
        625: '#fdd233',
        650: '#fccc31',
        675: '#fcc62f',
        700: '#fbc02d',
        725: '#fbba2b',
        750: '#fab429',
        775: '#faae27',
        800: '#f9a825',
        825: '#f89e22',
        850: '#f7941e',
        875: '#f6891b',
        900: '#f57f17',
    ),
    purple: (
        50: '#f3e5f5',
        100: '#e1bee7',
        125: '#dcb3e3',
        150: '#d8a9e0',
        175: '#d39edc',
        200: '#ce93d8',
        225: '#c988d4',
        250: '#c47ed0',
        275: '#bf73cc',
        300: '#ba68c8',
        325: '#b660c5',
        350: '#b358c2',
        375: '#af4fbf',
        400: '#ab47bc',
        425: '#a73fb9',
        450: '#a437b6',
        475: '#a02fb3',
        500: '#9c27b0',
        525: '#9926af',
        550: '#9526ad',
        575: '#9225ac',
        600: '#8e24aa',
        625: '#8923a8',
        650: '#8522a6',
        675: '#8020a4',
        700: '#7b1fa2',
        725: '#771ea0',
        750: '#731d9e',
        775: '#6e1c9c',
        800: '#6a1b9a',
        825: '#621997',
        850: '#5a1893',
        875: '#521690',
        900: '#4a148c',
    ),
    orange: (
        50: '#fff3e0',
        100: '#ffe0b2',
        125: '#ffdba6',
        150: '#ffd699',
        175: '#ffd18d',
        200: '#ffcc80',
        225: '#ffc773',
        250: '#ffc267',
        275: '#ffbc5a',
        300: '#ffb74d',
        325: '#ffb343',
        350: '#ffaf3a',
        375: '#ffab30',
        400: '#ffa726',
        425: '#ffa31d',
        450: '#ffa013',
        475: '#ff9c0a',
        500: '#ff9800',
        525: '#fe9500',
        550: '#fd9200',
        575: '#fc8f00',
        600: '#fb8c00',
        625: '#fa8800',
        650: '#f88400',
        675: '#f78000',
        700: '#f57c00',
        725: '#f47800',
        750: '#f27400',
        775: '#f17000',
        800: '#ef6c00',
        825: '#ed6500',
        850: '#eb5f00',
        875: '#e85800',
        900: '#e65100',
    ),
    white: (
        50: rgba(255, 255, 255, 1),  // Pure White
        100: rgba(255, 255, 255, 0.1), // Very Light Gray
        125: rgba(255, 255, 255, 0.125),
        150: rgba(255, 255, 255, 0.15),
        175: rgba(255, 255, 255, 0.175),
        200: rgba(255, 255, 255, 0.2),
        225: rgba(255, 255, 255, 0.225),
        250: rgba(255, 255, 255, 0.25),
        275: rgba(255, 255, 255, 0.275),
        300: rgba(255, 255, 255, 0.3),
        325: rgba(255, 255, 255, 0.325),
        350: rgba(255, 255, 255, 0.35),
        375: rgba(255, 255, 255, 0.375),
        400: rgba(255, 255, 255, 0.4),
        425: rgba(255, 255, 255, 0.425),
        450: rgba(255, 255, 255, 0.45),
        475: rgba(255, 255, 255, 0.475),
        500: rgba(255, 255, 255, 0.5),
        525: rgba(255, 255, 255, 0.525),
        550: rgba(255, 255, 255, 0.55),
        575: rgba(255, 255, 255, 0.575),
        600: rgba(255, 255, 255, 0.6),
        625: rgba(255, 255, 255, 0.625),
        650: rgba(255, 255, 255, 0.65),
        675: rgba(255, 255, 255, 0.675),
        700: rgba(255, 255, 255, 0.7),
        725: rgba(255, 255, 255, 0.725),
        750: rgba(255, 255, 255, 0.75),
        775: rgba(255, 255, 255, 0.775),
        800: rgba(255, 255, 255, 0.8),
        825: rgba(255, 255, 255, 0.825),
        850: rgba(255, 255, 255, 0.85),
        875: rgba(255, 255, 255, 0.875),
        900: rgba(255, 255, 255, 0.9),
        925: rgba(255, 255, 255, 0.925),
        950: rgba(255, 255, 255, 0.95),
        975: rgba(255, 255, 255, 0.975),
    ),
    gray: (
        50: '#fafafa',
        100: '#f5f5f5',
        125: '#f3f3f3',
        150: '#f2f2f2',
        175: '#f0f0f0',
        200: '#eeeeee',
        225: '#ebebeb',
        250: '#e7e7e7',
        275: '#e4e4e4',
        300: '#e0e0e0',
        325: '#d7d7d7',
        350: '#cfcfcf',
        375: '#c6c6c6',
        400: '#bdbdbd',
        425: '#b5b5b5',
        450: '#aeaeae',
        475: '#a6a6a6',
        500: '#9e9e9e',
        525: '#949494',
        550: '#8a8a8a',
        575: '#7f7f7f',
        600: '#757575',
        625: '#707070',
        650: '#6b6b6b',
        675: '#666666',
        700: '#616161',
        725: '#595959',
        750: '#525252',
        775: '#4a4a4a',
        800: '#424242',
        825: '#3a3a3a',
        850: '#323232',
        875: '#292929',
        900: '#212121',
    ),
    black: (
        50: '#f7f7f7',
        100: '#e1e1e1',
        125: '#dddddd',
        150: '#d8d8d8',
        175: '#d4d4d4',
        200: '#cfcfcf',
        225: '#c8c8c8',
        250: '#c0c0c0',
        275: '#b9b9b9',
        300: '#b1b1b1',
        325: '#acacac',
        350: '#a8a8a8',
        375: '#a3a3a3',
        400: '#9e9e9e',
        425: '#969696',
        450: '#8e8e8e',
        475: '#868686',
        500: '#7e7e7e',
        525: '#777777',
        550: '#707070',
        575: '#696969',
        600: '#626262',
        625: '#5e5e5e',
        650: '#5a5a5a',
        675: '#555555',
        700: '#515151',
        725: '#4c4c4c',
        750: '#464646',
        775: '#414141',
        800: '#3b3b3b',
        825: '#353535',
        850: '#2f2f2f',
        875: '#282828',
        900: '#222222',
        925: '#202020',
        950: '#1e1e1e',
        975: '#1b1b1b',
        1000: '#191919',
        pitch: '#000000',
    ),
    pink: (
        50: '#fce4ec',
        100: '#f8bbd0',
        125: '#f7b0c8',
        150: '#f6a5c1',
        175: '#f59ab9',
        200: '#f48fb1',
        225: '#f384a9',
        250: '#f279a2',
        275: '#f16d9a',
        300: '#f06292',
        325: '#ef5a8c',
        350: '#ee5186',
        375: '#ed4980',
        400: '#ec407a',
        425: '#eb3874',
        450: '#eb2f6f',
        475: '#ea2769',
        500: '#e91e63',
        525: '#e51d62',
        550: '#e11d62',
        575: '#dc1c61',
        600: '#d81b60',
        625: '#d31a5f',
        650: '#cd1a5e',
        675: '#c8195c',
        700: '#c2185b',
        725: '#bd175a',
        750: '#b81659',
        775: '#b21558',
        800: '#ad1457',
        825: '#a41355',
        850: '#9b1153',
        875: '#911051',
        900: '#880e4f',
    ),
    teal: (
        50: '#e0f2f1',
        100: '#b2dfdb',
        125: '#a6dad5',
        150: '#99d5d0',
        175: '#8dd0ca',
        200: '#80cbc4',
        225: '#73c6be',
        250: '#67c1b8',
        275: '#5abbb2',
        300: '#4db6ac',
        325: '#43b2a8',
        350: '#3aaea3',
        375: '#30aa9f',
        400: '#26a69a',
        425: '#1da296',
        450: '#139e91',
        475: '#0a9a8d',
        500: '#009688',
        525: '#009385',
        550: '#009082',
        575: '#008c7e',
        600: '#00897b',
        625: '#008577',
        650: '#008173',
        675: '#007d6f',
        700: '#00796b',
        725: '#007567',
        750: '#007164',
        775: '#006d60',
        800: '#00695c',
        825: '#006255',
        850: '#005b4e',
        875: '#005447',
        900: '#004d40',
    ),
    cyan: (
        50: '#e0f7fa',
        100: '#b2ebf2',
        125: '#a6e8f0',
        150: '#99e5ee',
        175: '#8de1ec',
        200: '#80deea',
        225: '#73dbe8',
        250: '#67d7e6',
        275: '#5ad4e3',
        300: '#4dd0e1',
        325: '#43cedf',
        350: '#3acbde',
        375: '#30c9dc',
        400: '#26c6da',
        425: '#1dc4d9',
        450: '#13c1d7',
        475: '#0abfd6',
        500: '#00bcd4',
        525: '#00b8cf',
        550: '#00b4cb',
        575: '#00b0c6',
        600: '#00acc1',
        625: '#00a7bb',
        650: '#00a2b4',
        675: '#009cae',
        700: '#0097a7',
        725: '#0092a1',
        750: '#008d9b',
        775: '#008895',
        800: '#00838f',
        825: '#007a84',
        850: '#00727a',
        875: '#00696f',
        900: '#006064',
    ),
    lime: (
        50: '#f9fbe7',
        100: '#f0f4c3',
        125: '#eef3b9',
        150: '#ebf1b0',
        175: '#e9f0a6',
        200: '#e6ee9c',
        225: '#e4ec92',
        250: '#e1eb89',
        275: '#dfe97f',
        300: '#dce775',
        325: '#dae66e',
        350: '#d8e466',
        375: '#d6e35f',
        400: '#d4e157',
        425: '#d2e050',
        450: '#d1df48',
        475: '#cfdd41',
        500: '#cddc39',
        525: '#cad838',
        550: '#c7d336',
        575: '#c3cf35',
        600: '#c0ca33',
        625: '#bcc531',
        650: '#b8bf2f',
        675: '#b3ba2d',
        700: '#afb42b',
        725: '#abae29',
        750: '#a7a928',
        775: '#a2a326',
        800: '#9e9d24',
        825: '#979421',
        850: '#908a1e',
        875: '#89811a',
        900: '#827717',
    ),
    amber: (
        50: '#fff8e1',
        100: '#ffecb3',
        125: '#ffe9a7',
        150: '#ffe69b',
        175: '#ffe38e',
        200: '#ffe082',
        225: '#ffdd75',
        250: '#ffdb69',
        275: '#ffd85c',
        300: '#ffd54f',
        325: '#ffd245',
        350: '#ffd03c',
        375: '#ffcd32',
        400: '#ffca28',
        425: '#ffc820',
        450: '#ffc618',
        475: '#ffc30f',
        500: '#ffc107',
        525: '#ffbe05',
        550: '#ffba04',
        575: '#ffb702',
        600: '#ffb300',
        625: '#ffae00',
        650: '#ffaa00',
        675: '#ffa500',
        700: '#ffa000',
        725: '#ff9c00',
        750: '#ff9800',
        775: '#ff9300',
        800: '#ff8f00',
        825: '#ff8700',
        850: '#ff7f00',
        875: '#ff7700',
        900: '#ff6f00',
    ),
    brown: (
        50: '#efebe9',
        100: '#d7ccc8',
        125: '#d0c4bf',
        150: '#cabbb6',
        175: '#c3b3ad',
        200: '#bcaaa4',
        225: '#b5a29b',
        250: '#af9992',
        275: '#a89188',
        300: '#a1887f',
        325: '#9c8278',
        350: '#977b71',
        375: '#92756a',
        400: '#8d6e63',
        425: '#88685c',
        450: '#836256',
        475: '#7e5b4f',
        500: '#795548',
        525: '#765346',
        550: '#735145',
        575: '#704e43',
        600: '#6d4c41',
        625: '#69493f',
        650: '#65463c',
        675: '#61433a',
        700: '#5d4037',
        725: '#593d35',
        750: '#563a33',
        775: '#523730',
        800: '#4e342e',
        825: '#4a312b',
        850: '#462e29',
        875: '#422a26',
        900: '#3e2723',
    ),
    indigo: (
        50: '#e8eaf6',
        100: '#c5cae9',
        125: '#bcc2e5',
        150: '#b2b9e2',
        175: '#a9b1de',
        200: '#9fa8da',
        225: '#96a0d6',
        250: '#8c97d3',
        275: '#838fcf',
        300: '#7986cb',
        325: '#727fc8',
        350: '#6b79c6',
        375: '#6372c3',
        400: '#5c6bc0',
        425: '#5565bd',
        450: '#4e5ebb',
        475: '#4658b8',
        500: '#3f51b5',
        525: '#3e4fb3',
        550: '#3c4db0',
        575: '#3b4bae',
        600: '#3949ab',
        625: '#3747a8',
        650: '#3544a5',
        675: '#3242a2',
        700: '#303f9f',
        725: '#2e3d9c',
        750: '#2c3a99',
        775: '#2a3896',
        800: '#283593',
        825: '#25318e',
        850: '#212c89',
        875: '#1e2883',
        900: '#1a237e',
    ),
    slate: (
        50: '#eceff1',
        100: '#cfd8dc',
        125: '#c7d2d6',
        150: '#c0cbd1',
        175: '#b8c5cb',
        200: '#b0bec5',
        225: '#a8b8bf',
        250: '#a0b1ba',
        275: '#98abb4',
        300: '#90a4ae',
        325: '#8a9faa',
        350: '#849aa5',
        375: '#7e95a1',
        400: '#78909c',
        425: '#728b98',
        450: '#6c8794',
        475: '#66828f',
        500: '#607d8b',
        525: '#5d7987',
        550: '#5a7683',
        575: '#57727e',
        600: '#546e7a',
        625: '#506975',
        650: '#4d646f',
        675: '#495f6a',
        700: '#455a64',
        725: '#42555f',
        750: '#3e515a',
        775: '#3b4c54',
        800: '#37474f',
        825: '#334249',
        850: '#2f3d44',
        875: '#2a373e',
        900: '#263238',
    ),
    manatee: (
        50: '#f8f9fb',
        100: '#f0f2f5',
        125: '#edf0f4',
        150: '#ebeef2',
        175: '#e8ebf1',
        200: '#e5e9ef',
        225: '#e2e7ed',
        250: '#dfe4eb',
        275: '#dbe2e9',
        300: '#d8dfe7',
        325: '#d5dde5',
        350: '#d2dae3',
        375: '#cfd8e1',
        400: '#ccd5df',
        425: '#cad3dd',
        450: '#c9d1db',
        475: '#c7ced9',
        500: '#c5ccd7',
        525: '#bec6d2',
        550: '#b7c0ce',
        575: '#afb9c9',
        600: '#a8b3c4',
        625: '#a1acbe',
        650: '#99a6b8',
        675: '#929fb2',
        700: '#8a98ac',
        725: '#8392a6',
        750: '#7c8ba1',
        775: '#75859b',
        800: '#6e7e95',
        825: '#66778e',
        850: '#5f7088',
        875: '#576881',
        900: '#4f617a',
        950: '#3a4a63',
    ),
);

:root{
    @each $color, $shades in $colorPalette {
        @each $shade, $value in $shades {
            --#{"" + $color}-#{"" + $shade}: #{$value};
        }
    }
}