@mixin anim($duration: 0.3s, $fun: linear) {
    transition: all $duration $fun 0s;
}

@mixin ensure-flex($selector) {
    #{$selector} {
      @if not (display: flex) {
        display: flex;
      }
    }
}

@mixin stripe-style($deg, $color1, $color2, $size: 20px) {
  background: repeating-linear-gradient(
    $deg,
    $color1,
    $color1 calc($size / 2),
    $color2 calc($size / 2),
    $color2 $size
  );

}