$sizes: xs, sm, md, lg, xl, xxl, 2xl, 3xl, 4xl, 5xl, 6xl, 7xl, 8xl, 9xl;

$opacity: 0.25, 0.5, 0.75;

$list-styles: arabic-indic, armenian, bengali, cambodian, circle, cjk-earthly-branch, cjk-heavenly-stem, cjk-ideographic, decimal, decimal-leading-zero, devanagari, disc, 
    ethiopic-halehame, ethiopic-halehame-am, ethiopic-halehame-ti-er, georgian, gujarati, gurmukhi, hebrew, hiragana, hiragana-iroha, japanese-formal, japanese-informal, khmer, korean-hangul-formal, korean-hanja-formal, korean-hanja-informal, lower-alpha, lower-greek, lower-latin, lower-roman, upper-alpha, upper-latin, upper-roman;