*, *::before, *::after {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

@mixin anim($duration: 0.3s, $fun: linear) {
    transition: all $duration $fun 0s;
}
button{
    user-select: none;
    cursor: pointer;
}
input{
    user-select: none;
    &:-webkit-autofill {
        background-color: transparent !important;
        -webkit-box-shadow: 0 0 0px 1000px transparent inset;
        box-shadow: 0 0 0px 1000px transparent inset;
    }
}
[aria-hidden="true"] {
	user-select: none;
	pointer-events: none;
}

[popover] {
    margin: 0;
    padding: 0;
    border: 0;
}

:root{
    --basic: ease;
	--back: linear( 0, -0.0077 5.2%, -0.0452 16.98%, -0.0493 22.35%, -0.0418 25.57%,
       -0.0258 28.57%, -0.0007 31.42%, 0.0335 34.15%, 0.1242 39.03%, 0.2505 43.65%,
       0.3844 47.35%, 0.656 53.68%, 0.81 58.37%, 0.9282 63.52%, 0.9719 66.23%,
       1.0055 69.04%, 1.0255 71.4%, 1.0396 73.87%, 1.0477 76.48%, 1.05 79.27%,
       1.0419 84.36%, 1.0059 95.49%, 1 );
	--expo: linear( 0, 0.0053 17.18%, 0.0195 26.59%, 0.0326 30.31%, 0.0506 33.48%,
       0.0744 36.25%, 0.1046 38.71%, 0.1798 42.62%, 0.2846 45.93%, 0.3991 48.37%,
       0.6358 52.29%, 0.765 55.45%, 0.8622 59.3%, 0.8986 61.51%, 0.9279 63.97%,
       0.9481 66.34%, 0.9641 69.01%, 0.9856 75.57%, 0.9957 84.37%, 1 );
	--sine: linear( 0, 0.007 5.35%, 0.0282 10.75%, 0.0638 16.26%, 0.1144 21.96%,
       0.1833 28.16%, 0.2717 34.9%, 0.6868 62.19%, 0.775 68.54%, 0.8457 74.3%,
       0.9141 81.07%, 0.9621 87.52%, 0.9905 93.8%, 1 );
	--power: linear( 0, 0.0012 14.95%, 0.0089 22.36%, 0.0297 28.43%, 0.0668 33.43%,
       0.0979 36.08%, 0.1363 38.55%, 0.2373 43.07%, 0.3675 47.01%, 0.5984 52.15%,
       0.7121 55.23%, 0.8192 59.21%, 0.898 63.62%, 0.9297 66.23%, 0.9546 69.06%,
       0.9733 72.17%, 0.9864 75.67%, 0.9982 83.73%, 1 );
	--circ: linear( -0, 0.0033 5.75%, 0.0132 11.43%, 0.0296 16.95%, 0.0522 22.25%,
       0.0808 27.25%, 0.1149 31.89%, 0.1542 36.11%, 0.1981 39.85%, 0.2779 44.79%,
       0.3654 48.15%, 0.4422 49.66%, 0.5807 50.66%, 0.6769 53.24%, 0.7253 55.37%,
       0.7714 58.01%, 0.8142 61.11%, 0.8536 64.65%, 0.9158 72.23%, 0.9619 80.87%,
       0.9904 90.25%, 1 );
	--bounce: linear( 0, 0.0039, 0.0157, 0.0352, 0.0625 9.09%,
       0.1407, 0.25, 0.3908, 0.5625, 0.7654,
       1, 0.8907, 0.8125 45.45%, 0.7852, 0.7657,
       0.7539, 0.75, 0.7539, 0.7657, 0.7852,
       0.8125 63.64%, 0.8905, 1 72.73%, 0.9727, 0.9532,
       0.9414, 0.9375, 0.9414, 0.9531, 0.9726,
       1, 0.9883, 0.9844, 0.9883, 1 );
    --elastic: linear( 0, 0.0009 8.51%, -0.0047 19.22%, 0.0016 22.39%, 0.023 27.81%,
        0.0237 30.08%, 0.0144 31.81%, -0.0051 33.48%, -0.1116 39.25%, -0.1181 40.59%,
        -0.1058 41.79%, -0.0455, 0.0701 45.34%, 0.9702 55.19%, 1.0696 56.97%,
        1.0987 57.88%, 1.1146 58.82%, 1.1181 59.83%, 1.1092 60.95%, 1.0057 66.48%,
        0.986 68.14%, 0.9765 69.84%, 0.9769 72.16%, 0.9984 77.61%, 1.0047 80.79%,
        0.9991 91.48%, 1 );
    --ease: var(--back);

    --text-wheel-speed: 2;
    --text-wheel-transition: translate calc(var(--text-wheel-speed) * 1s) var(--ease);

    --checkbox-checked: rgb(46, 161, 42);
    --checkbox-unchecked: rgb(203, 203, 203);
    --checkbox-thumb: #fff;
    --checkbox-thumb-shadow: #000;
    --checkbox-thumb-shadow-size: 2px;

    --select: #fff;
    --select-options: #fff;
    --select-option-font-size: 16px;
    --select-hover: #eee;
    --select-selected: #ddd;
    --select-padding: 6px 8px;
    --select-radius: 5px;

    --cover-bg: rgba(255,255,255,0.8);
    --cover-label: #111;

    --dialog-bg: #fff;
    --dialog-radius: 10px;
    --dialog-padding: 10px;
    --dialog-title-font-size: 16px;
    --dialog-closer-font-size: 36px;
    --dialog-closer-hover: rgba(255,255,255,0.2);

    --sheet-error: #ff4747;    
    --sheet-warn: #ffba00;
    --sheet-success: #23ac28;

    --zuz-overlay: rgba(0, 0, 0, 0.7);
    --zuz-overlay-blur: 0;
    --drawer-color: #fff;
    --drawer-handle-color: #ccc;
    --drawer-radius-v: 0px;
    --drawer-radius-h: 0px;
    

}

.flex{
    display: flex;
    &.cols{flex-direction: column;}
    &.aic{align-items: center;}
    &.jcc{justify-content: center;}
}
.abs{ position: absolute; }
.fixed{ position: fixed; }
.fill{
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
}
.fillx{
    top: -10px;
    left: -10px;
    bottom: -10px;
    right: -10px;
}
.grid{display: grid;}
.nope{pointer-events: none;}
.nous{user-select: none;}
.rel{position: relative;}
.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.input-with-error{
    box-shadow: inset 0px 0px 0px 1px #ff8b8b;
}

.zuz-checkbox{
    height: 25px;
    width: 45px;
    cursor: pointer;
    input[type=checkbox]{
        z-index: 0;
        left: 10px;
        top: 10px;
        opacity: 0;
    }
    &:before{
        content: "";
        position: absolute;
        width: 45px;
        height: 25px;
        background: var(--checkbox-unchecked);
        border-radius: 50px;
        z-index: 1;
        @include anim($duration: 0.3s);
    }
    &:after{
        content: "";
        position: absolute;
        width: 21px;
        height: 21px;
        background: var(--checkbox-thumb);
        border-radius: 50px;
        z-index: 2;
        top: 2px;
        left: 2px;
        box-shadow: 0px 0px --checkbox-thumb-shadow-size --checkbox-thumb-shadow;
        @include anim($duration: 0.2s);
    }
    &.is-checked {
        &:before{
            box-shadow: inset 0px 0px 0px 15px var(--checkbox-checked);
        }
        &:after{
            transform: translateX(20px);
        }
    }
}

/* SIMPLE SPINNER */
.zuz-spinner {
    animation: spin infinite;
    @keyframes spin {
        from { transform: rotate(0deg); }
        to { transform: rotate(360deg); }
    }
}

.zuz-cover{
    backdrop-filter: blur(4px);
    z-index: 99999;
    gap: 15px;
    .label{
        font-size: 14px;
        animation: breath 1s linear infinite;
        @keyframes breath {
            0% { opacity: 0.5; }
            50% { opacity: 1; }
            100% { opacity: 0.5; }
        }
    }
}

/** SHEET */
.zuz-toast{
    border-radius: 6px;
    padding: 6px 12px;
    font-size: 14px;
    white-space: pre;
}
.zuz-sheet{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 214748364;
    transform-origin: top left;
    // @include anim($duration: 0.5s, $fun: cubic-bezier(0.68, -0.2, 0.27, 1.5));
    @include anim($duration: 0.5s, $fun: cubic-bezier(0.2, -0.36, 0, 1.46));

    &.wobble{
        transform-origin: inherit !important;
        // transform: scale(0.8) !important;
        // @include anim($duration: 0.5s, $fun: cubic-bezier(0.68, -0.2, 0.27, 1.5));
    }

    &.toast-default{
        background: #333;
        color: #fff;
        top: 10px !important;
        @extend .zuz-toast;
    }
    &.toast-error{
        background: var(--sheet-error);
        color: #fff;
        top: 10px;
        @extend .zuz-toast;
    }
    &.toast-success{
        background: var(--sheet-success);
        color: #fff;
        top: 10px;
        @extend .zuz-toast;
    }
    &.toast-warn{
        background: var(--sheet-warn);
        color: #111;
        top: 10px;
        @extend .zuz-toast;
    }

    &.toast-dialog{
        background: var(--dialog-bg);
        border-radius: var(--dialog-radius);
        padding: var(--dialog-padding);
        overflow: hidden;
    }

    .zuz-sheet-head{
        margin-bottom: 20px;
        .zuz-sheet-title{
            flex: 1;
            font-size: var(--dialog-title-font-size);
            opacity: 0.5;
            text-align: center;
            padding: 0px 45px;
        }
        .zuz-sheet-dot{
            flex: 1;
        }
        .zuz-sheet-closer{
            width: 32px;
            height: 32px;
            cursor: pointer;
            font-size: var(--dialog-closer-font-size);
            background: transparent;
            border: 0px;
            line-height: 0;
            padding: 0px;
            font-weight: normal;
            border-radius: 20px;
            opacity: 0.35;
            top: 50%;
            right: 0px;
            transform: translateY(-50%);
            &:hover{
                background: var(--dialog-closer-hover);
                opacity: 1;
            }
        }
    }   
    // &.is-visible{
    //     // transform: translate(-50%, 0vh);
    //     &.wobble{
    //         // transform: translate(-50%, 10px);
    //         // @include anim($duration: 0.5s, $fun: cubic-bezier(0.68, -0.2, 0.27, 1.5));
    //     }
    // }

}
.zuz-sheet-overlay{
    background: rgba(0, 0, 0, 0.7);
    z-index: 111;
    backdrop-filter: blur(10px);
}
.zuz-context-menu{
    z-index: 99;
    background: var(--context-background);
    border-radius: var(--context-radius);
    padding: 10px;
    box-shadow: var(--context-shadow);
    
    .context-line{
        height: 1px;
        background: var(--context-seperator);
        margin: 3px 6px;
    }
    .context-menu-item{
        width: 220px;
        padding: 6px 10px;
        gap: 10px;
        cursor: pointer;
        font-size: var(--context-label-size);
        border-radius: var(--context-radius);
        .ico{
            font-size: var(--context-icon-size);
        }
        &:hover{
            background: var(--context-hover);
        }
    }
}

@position-try --zuz-select-bottom {
    top: anchor(bottom);
    bottom: unset;
    margin-block: calc(var(--zuz-select-height) + var(--zuz-select-gap)) 0;
}
.zuz-selectk-wrap{
    width: 100%;
}
.zuz-select{
    width: 100%;
    gap: 5px;
    background: var(--select);
    border-radius: var(--select-radius);
    border: 0px;
    padding: 12px 15px;
    anchor-name: --zuz-select-anchor;
    &:hover{
        background: var(--select-hover);
    }
    .zuz-selected{
        flex: 1;
        text-align: left;
    }
}
.zuz-select-options{

    --zuz-select-height: 30px;
    --zuz-select-gap: 0px;
    position-anchor: --zuz-select-anchor;
    position-try: most-height --zuz-select-bottom;

    width: 100%;
    max-height: 400px;
    overflow-x: hidden;
    gap: 2px;
    background: var(--select-options);
    border-radius: var(--select-radius);
    padding: 4px 0px;
    button{
        background: transparent;
        border: 0px;
        text-align: left;
        padding: var(--select-padding);
        border-radius: var(--select-radius);
        font-size: var(--select-option-font-size);
        &:hover{
            background: var(--select-hover);
        }
        &.selected{
            background: var(--select-selected);
        }
    }
}

.zuz-overlay{
    background: var(--zuz-overlay);
    z-index: 2147483645;
    backdrop-filter: blur(var(--zuz-overlay-blur));
}
.drawer-h{
    min-width: 320px;
    max-width: 90vw;
    top: 0px;
    bottom: 0px;
    border-radius: var(--drawer-radius-h);
}
.drawer-v{
    min-height: 10vh;
    max-height: 90vh;
    left: 0px;
    right: 0px;
    border-radius: var(--drawer-radius-v);
}
.zuz-drawer{
    background: var(--drawer-color);
    z-index: 2147483646;
    overflow-x: hidden;
    overflow-y: auto;   
    &.drawer-left{
        left: 0px;        
        @extend .drawer-h;
    }
    &.drawer-right{
        right: 0px;        
        @extend .drawer-h;
    }
    &.drawer-top{
        top: 0px;        
        @extend .drawer-v;
    }
    &.drawer-bottom{
        bottom: 0px;        
        @extend .drawer-v;
    }
    .drawer-handle{
        width: 100px;
        height: 6px;
        border-radius: 10px;
        background: var(--drawer-handle-color);
        margin: 12px auto 0px auto;
    }
}

.text-wheel{
    transform-style: flat;
    // .tmp{
    //     background: linear-gradient(hsl(0 0% 98%) 50%, hsl(0 0% 45%));
    //     background-attachment: fixed;
    //     background-clip: text;
    //     color: transparent;
    //     transform-style: flat;
    // }
    .wheel-char{
        font-variant: tabular-nums;
        overflow: hidden;
        height: 1lh;
        // mask: linear-gradient(transparent, white calc(1lh * var(--mask-size)) calc(100% - (1lh * var(--mask-size))), transparent);
        // @extend .tmp;
        .wheel-char-track{
            transition: var(--text-wheel-transition);
            &.wheel-track-down{
                translate: 0 calc((10 - var(--v)) * -1lh);
            }
            &.wheel-track-up{
                translate: 0 calc((var(--v) + 1) * (1lh * -1));
            }
            span{
                height: 1lh;
                transition: opacity 0.5s;
            }
        }
    }
}